<%- include("../views/shared/_header.ejs") -%>
<div class="jumbotron">
    <h1 class="display-5">Welcome to David Yu's Final!</h1>
    <p class="lead">This is my Final Exam application.   </p>
    <hr class="my-4">
    <p>Please click on a menu option to get started!</p>
    <p class="lead">
</div>

<%- include("../views/shared/_footer.ejs") -%>